{% extends 'base.html.twig' %} {% block title %}A Propos{% endblock %} {% set
page = 'about' %} {% block body %}

<h1>A Propos</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, culpa officia?
  Suscipit vero ex vitae eveniet possimus maiores dicta facere laudantium, eaque
  debitis odio iusto totam sint hic ea at! Corporis ipsa maiores, autem quis
  reiciendis assumenda minus dolor labore est suscipit blanditiis nisi non,
  animi laudantium? Consequuntur soluta id esse laudantium corporis, fugiat
  repellat pariatur reprehenderit aliquid quibusdam magni? Iusto repudiandae
  ipsam quia, voluptatem cum nesciunt similique eaque molestias nemo repellendus
  libero blanditiis necessitatibus qui esse delectus illum possimus reiciendis
  beatae dicta sint! Facere aliquam sed velit dicta porro?
</p>

{% endblock %}
