{% extends 'base.html.twig' %} {% block title %}Accueil{% endblock %} {% set
page = 'home' %} {% block body %}
<h1>Page d'accueil</h1>
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus reprehenderit
  molestias, quaerat incidunt pariatur veniam quas illo error adipisci
  cupiditate mollitia odio? Nesciunt, harum labore animi sint nihil aliquam
  magnam.
</p>
{% endblock %}
